html, body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header, .footer{
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
    padding: 5px 15vh;
}

a {
    color:#e5e7eb;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
}

.text{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 15vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.main-sub-text {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-wrap: wrap;
}

.sub-text {
font-size: 18px;
color: #e5e7eb;
}

.image {
    width: auto;
    min-width: 150px;
    max-height: 198px;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    max-width:fit-content;
    border-radius: 7px;
    border-color: #1f2937;
    padding: 3px 20px;
}

.info {
    text-align: center;
    margin: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-height: none;
    flex: 1;
}

.card, .image{   
    border-color: #3882f6;
    border-width: 4px;
    border-style: solid;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    justify-self: center;
}

.card-container {
    text-wrap: wrap;
    width: 200px;
    
}

.card-subtext {
    font-size: 18px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    padding: 100px;
}

.god {
    font-weight: bold;
}

.footer {
    position: sticky;
    top: 100vh;
    justify-content: center;
    font-size: 18px;
}